
/************************************************************/
/* Web del Romanticismo                                     */
/* Hoja de estilos de la canción del Pirata                 */
/* Autor: Pablo Brescia                                     */
/* Versión 1.0                                              */
/************************************************************/


/*********************** ESTILO GENERAL *********************/

@font-face {
    src: url('../fonts/ChopinScript.ttf');
    font-family: titulos;
}

@font-face {
    src: url('../fonts/Poppins-Regular.ttf');
    font-family: textos;
}

* {box-sizing: border-box;}

body { margin:0; padding:0;  /*Elimina los bordes por defecto*/
    font-family:textos;
    background-color: lightblue;
    
}

#wrapper {width: 80%;
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: auto;

}

section{padding: 4% 0;} /* Queremos que el contenido de cualquier sección quede separado de arriba y abajo*/
.titulo-seccion {font-family: titulos;
                font-size: 2rem;
                color: rgb(0, 0, 0);
               /* background-color: rgba(222, 184, 135, 0.349);*/
                text-align: center; }


/**************** HERO SECTION OPCION 1: FOTO + TEXTO *******************/
#hero {background-image: url(../images/herosection.jpg);
    height: 100vh; /* Para obligar a que se vea más allá del contenido */
    background-repeat: no-repeat; /* No repite el fondo */
    background-size: cover; /* Cubre todo el fondo */
    background-position: 50%;
    padding-left: 3%;
    padding-top: 3%;

}

/*********** HERO SECTION OPCION 2: HAIKEI.APP + POSITION + FROASTED GLASS***********/
#hero2 {background-image: url(../images/poligonos.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative; /* Hero se mueve de sitio*/

}

#titulo2 {font-family: titulos;
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.158);
    width: 50%;
    text-align: center; /* También podríamos poner un padding-left */
    
        /* Estas cuatro reglas colocan una caja en el centro de otra: */
    position: absolute; /* Se fija dentro del bloque al que pertenece (hero) */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    /* Para el efecto froasted glass (el fondo debe ser blanco y con opacidad < a 0.5)*/
    backdrop-filter: blur(3px);

}

/**************** HERO 3: COLOR LISO + GETWAVES *******************/
 #hero3 {
    background-color: #ff5500; /* MISMO COLOR QUE LAS OLAS */
    height:40vh;
    position: relative;

}

#titulo3 {font-family: titulos;
    font-size: 4rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#intro {background-color: white;}

#titulo {
    background-color: rgba(255, 255, 255, 0.411);
    width:28%;
    padding:2%;
    text-align:center;
    border-radius: 45%;
    font-family: titulos;
    font-size: 3rem; 
}

/******************** GRID IDEAS **********************/
#ideas {
    background-color: rgba(128, 128, 128, 0.158);
}

/* Vamos a montar un grid en dos columnas, al 50% */ 
/* Primero necesito un contenedor grid: */

#grid2 {display:grid;
        grid-template-columns: 50% 50%;
        margin-top: 4%;}




/* Selecciono la imagenes de dentro de una columna y les aplico el 100% (todo el ancho de la columna) */

.col2 img {width: 100%;}

.col-textos {
    padding-left: 10px;
}

/******************* GRID AUTORES *********************/
#grid4 {display:grid;
    grid-template-columns:25% 25% 25% 25%;
    }
.col4 {padding: 6%;}

/******************* GRID FOOTER *********************/
#grid3 {display:grid;
        grid-template-columns: 25% 25% 50%;
        font-family: textos;
        font-size: 1rem;
        text-align: left;}

.col3 {padding: 6%;}
.ancha {padding: 3%;}

#footer {background-color: rgba(128, 128, 128, 0.158);}


/***************** MEDIA QUERIES ******************/
@media only screen and (width<=1250px) {
    #wrapper {width:90%;}
    #titulo {width: 30%;}
}

@media only screen and (width<=1050px) {               /* PARA TABLET */
    #titulo {width: 40%;}
    #grid2 {grid-template-columns: 100%;}
    #grid4 {grid-template-columns: 50% 50%;}
    #grid3 {grid-template-columns: 50% 50%;}
}

@media only screen and (width<=930px) {
    #titulo {width: 50%;}
    #titulo {font-size: 2rem;}
    #grid2 {grid-template-columns: 100%;}
    #ancha {margin:auto}
}
    
@media only screen and (width<=500px) {                 /* PARA MÓVIL */
    #wrapper {width:100%;}
    #titulo {width: 80%;}
    #grid4 {grid-template-columns: 100%;}
    #grid3 {grid-template-columns: 100%;}
}